---
---

@import "minima";

h3 {
	border-bottom: 1px solid #888;
}

#the-beginning, .trigger, .footer-heading, .contact-list {
	display: none;
}

body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/O2-Logo.svg/553px-O2-Logo.svg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h4 {
	font-weight: 500;
	margin-bottom: 0px;
}

.home {
	background-color: rgba(255,255,255,0.8);
}
